.container{
  position: relative;
  z-index: 0;
}
.sidebar-1 {
   position: fixed;
   top: 0px;
   left: -120px;
   // left: -px;
   bottom: 0px;
   z-index: 0;
   width: 9rem;
   // padding: 3rem;
   background-color: $color-primary;
   padding-right: 5rem;
   padding-top: 3rem;
   padding-left: .9rem;
   text-align: left;
   transition: all .8s;


   // @media only screen and (max-width: $bp-large){
   //   left: 0px;
   //   top:0px;
   //   bottom:0px
   // }
   //
   // @media only screen and (max-width: $bp-medium){
   //    right: 0px;
   //    left: 0px;
   //  }
   // @media only screen and (max-width: $bp-small){
   //    right: 0px;
   //    left: 0px;
   //    top: -10px;
   //  }

   // @media only screen and (max-width: $bp-medium){
   //   grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, min-content) 40vw repeat(3,min-content);
   // }
   // @media only screen and (max-width: $bp-medium){
   //   grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, min-content) 40vw repeat(3,min-content);
   // }


   li{
     color: rgba(255,255,255,.7);
     font-family: $font-primary;
     font-size: 1.6rem;
     margin-bottom: 16px;
     -webkit-font-smoothing: antinaliased;
     list-style: none;
     padding-right: 5rem;
     cursor: pointer;

     &:hover{
       color: rgba(255,255,255,1);
     }

   }
}
.toggle{
  position: fixed;
  top: 20px;
  left: 105px;
  z-index: 1;
  text-decoration: none;
  font-size: 3rem;
  color: $color-primary;
  transition: all .5s;



  @media only screen and (max-width: $bp-medium){
    left: 50px;
    right:0px;
    color: #fff;
    top:10px
  }

  @media only screen and (max-width: $bp-small){
    left: 50px;
    right:0px;
    color: #fff;
  }

}
#sidebar-toggler{
  display: none;


  &:checked + .sidebar-wrapper{


    .sidebar-1{

      transform: translateX(120px);

      // @media only screen and (max-width: $bp-medium){
      //   transform: translateX(-710px);
      // }
      //
      // @media only screen and (max-width: $bp-small){
      //   transform: translateX(-680px);
      // }
      //
      //
      //

    }
    .toggle{



    }
    .div-wrapper{
      padding-right: 120px;
    }
  }
}
